<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Health Heroes Connect</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registration</h1>
      <form id="registration-form">
        <input type="text" id="name" placeholder="Name" required />
        <input type="number" id="age" placeholder="Age" required />
        <input type="text" id="gender" placeholder="Gender" required />
        <input type="text" id="condition" placeholder="Condition" required />
        <input
          type="text"
          id="professional"
          placeholder="Professional (Yes/No)"
          required
        />
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a href="index.html">Login here</a></p>
    </div>
    <script src="script.js"></script>
  </body>
</html>
